/* ヘッダーで使用する変数を定義 */
:root {
  --color-bg-dark: #1a1a1a;
  --color-bg-light: #333333;
  --color-accent: #ffd700; /* ゴールド */
  --color-text-light: #f0f0f0;
  --header-height: 100px;
}

/* bodyへの重要な設定 */
body {
  box-sizing: border-box;
  /* ヘッダーの高さ分、コンテンツを下にずらす */
  padding-top: calc(var(--header-height) + 50px);
  padding-bottom: 100px;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: rgba(23, 25, 76, 1);
  //   background: linear-gradient(
  //     135deg,
  //     var(--color-bg-dark) 0%,
  //     var(--color-bg-light) 100%
  //   );
  color: var(--color-text-light);
  font-family: "Avenir Next", "Helvetica Neue", Arial, sans-serif;
  /* 他のスタイルは既存のものを維持 */
}

/* ヘッダー */
.header {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height); /* 高さ100px */
  background-color: #fff;
  color: rgba(23, 25, 76, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 2000;
}

/* ロゴ */
.header__logo {
  text-decoration: none;
  color: rgba(23, 25, 76, 1);
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: 2px;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
  transition: color 0.3s;
}

.header__logo:hover {
  color: rgb(92, 94, 137);
}

/* ハンバーガーメニューアイコン */
.menu-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35px;
  height: 35px;
  transition: all 0.3s;
  padding: 5px;
  transition: all 0.3s ease 0s;
  &:hover {
    opacity: 0.7;
    
  }

  &.is-active {
    .bar:nth-child(2) {
      opacity: 0; // 真ん中の線を非表示
    }

    // 1本目の線: センターに移動 (4pxの線なので、35pxの高さの真ん中へ)
    .bar:nth-child(1) {
      transform: translateY(11.5px) rotate(45deg); // 縦方向の移動値を調整
    }

    // 3本目の線: センターに移動し、逆方向に回転
    .bar:nth-child(3) {
      transform: translateY(-11.5px) rotate(-45deg); // 縦方向の移動値を調整
    }
  }
}

.menu-toggle .bar {
  width: 100%;
  height: 4px;
  background-color: rgba(23, 25, 76, 1);
  border-radius: 2px;
  transition: all 0.3s;
}

/* サイドメニュー（オーバーレイ） */
.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #ad9100;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
  transform: translateX(100%); /* 初期状態は画面外 */
  transition: transform 0.4s ease-out;
  padding-top: var(--header-height);
  z-index: 1900;
}

.side-menu.is-open {
  transform: translateX(0); /* メニューが開いた状態 */
}

.side-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu__item a {
  display: block;
  padding: 20px 30px;
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  transition: background-color 0.3s, color 0.3s;
}

.side-menu__item a:hover {
  background-color: #fff;
  color: #ad9100;
}
