body {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
  // margin: 0;
  // background-color: #f7f7f7;
  // font-family: "Helvetica", "Arial", sans-serif;
}

h1 {
  margin-bottom: 10px;
  font-size: 70px;
}
.sub-title {
  font-size: 35px;
}


#counter {
  font-size: 300px;
  font-weight: bold;
  margin: 30px 0;
  min-width: 500px;
  text-align: center;
  line-height: 1;
}

button {
  font-size: 30px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  color: rgba(23, 25, 76, 1);
  border: 1px solid rgba(23, 25, 76, 1);
  transition: background-color 0.3s;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(23, 25, 76, 1);
  color: #fff;
  border: 1px solid #fff;
}
